@model SeletieneDPS.data.productservice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>productservice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state1.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state1.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state2.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state2.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userapp.id_card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userapp.id_card)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
